<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Medium Scrapper</title>

</head>
<body style="
background: linear-gradient(to top, #e0eafc, #cfdef3);
">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   <div style="text-align:center;padding-top: 20px;"> <h1 style="font-weight:bold">Welcome!</h1>
    <h3>Please Enter Your Query</h3>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <div class="container-fluid"style="padding-left: 822px;padding-top: 38px;
padding-bottom: 56px;">
    <form action='/scraper' method="post" class="d-flex">
        {% csrf_token %}
      <input class="about" id="mySearch" name="query" placeholder="Search....." aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
    <div style="padding: 5px 5px 5px 5px;">
    <div style="padding: 25px 0px 25px 65px; background-color:
	  #fff;border-radius:25px;" >
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Author</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Link</th>

                </tr>
            </thead>
            <tbody>
            {% for item in data_1 %}
            <tr>
            <td>{{item.Title}}</td>
<!--            <td>{{item.Author}}</td>-->
            <td>{{item.Date}}</td>
            <td>{{item.Website}}</td>
            <td>{{item.Duration}}</td>
            <td><a href={{item.Link}}>{{item.Link}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
  </body>
</html>

